### Question 1 :  Import CSV file


Write code to load the alumni csv dataset into a Pandas DataFrame called 'alumni'.

### Question 2 :  Understand the data set


Use the following pandas commands to understand the data set: a) head, b) tail, c) dtypes, d) info, e) describe

### Question 3 :  Cleaning the data set - part A
a) Use clean_currency method below to strip out commas and dollar signs from Savings ($) column and put into a new column called 'Savings'.

b) Uncomment 'alumni.dtypes.Savings' to check that the type change has occurred

### Question 4 :  Cleaning the data set - part B

a) Run the 'alumni["Gender"].value_counts()' to see the incorrect 'M' fields that need to be converted to 'Male'

b) Now use a '.replace' on the 'Gender' column to covert the incorrect 'M' fields.

### Question 5 :  Working with the data set

a) get the median, b) mean and c) standard deviation for the 'Salary' column

d) identify which alumni paid more than $15000 in fees, using the 'Fee' column

### Question 6 :  Visualise the data set

a) Using the 'Diploma Type' column, plot a bar chart and show its value counts.

b) Now create a box plot comparison between 'Savings' and 'Salary' columns

c) Generate a histogram with the 'Salary' column and use 12 bins.

d) Generate a scatter plot comparing 'Salary' and 'Savings' columns.

### Question 7 :  Contingency Table

Using both the 'Martial Status' and 'Defaulted' create a contingency table. Hint: crosstab

### Different Set of Questions

### 1.  You and your spouse decided to let the internet name your next child. You’ve asked the great people of the web to submit their favorite names, and you’ve compiled their submissions into a Series called babynames.

In [ ]:
import numpy as np
import pandas as pd

babynames = pd.Series([
    'Jathonathon', 'Zeltron', 'Ruger', 'Phreddy', 'Ruger', 'Chad', 'Chad',
    'Ruger', 'Ryan', 'Ruger', 'Chad', 'Ryan', 'Phreddy', 'Phreddy', 'Phreddy',
    'Mister', 'Zeltron', 'Ryan', 'Ruger', 'Ruger', 'Jathonathon',
    'Jathonathon', 'Ruger', 'Chad', 'Zeltron'], dtype='string')

Determine how many people voted for the names ‘Chad’, ‘Ruger’, and ‘Zeltron’.

#### 2. Given, two Series bees and knees, if the ith value of bees is NaN, double the ith value inside knees.

In [ ]:
import numpy as np
import pandas as pd

bees = pd.Series([True, True, False, np.nan, True, False, True, np.nan])
knees = pd.Series([5,2,9,1,3,10,5,2], index = [7,0,2,6,3,5,1,4])

print(bees)

In [ ]:
print(knees)

### Expcted result

In [ ]:
# 7     5
# 0     2
# 2     9
# 6     2
# 3     3
# 5    10
# 1     5
# 4     4